@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

* {
	font-family: 'Stylish', sans-serif;
	color: $text;
}

h1 {
	font-size: 38px;
	margin-top: 0;
	margin-bottom: 10px;
}


p {
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 15px;
}



a.cta {
  font-size: 20px;
  background: $red;
  color: $white;
  padding: 14px 30px 16px;
  border-radius: 30px;
  text-underline-offset: 4px;
}