@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
	font-family: 'Barlow', sans-serif;
	color: $darkgray;
}

h1 {
	font-size: 38px;
	margin-top: 0;
	margin-bottom: 15px;
}

// h2 {
// 	font-size: 40px;
// 	margin-top: 0;
// 	margin-bottom: 15px;
// }

p {
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 15px;
}

a.cta {
	background: $red;
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	border-radius: 20px;
}