@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
	font-family: 'Unica One', cursive;
}

h1 {
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 15px;
}

h2 {
	font-size: 45px;
	margin-top: 0;
	margin-bottom: 15px;
}

p {
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 15px;
}

a.cta {
	background: $red;
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 30px;
	border-radius: 20px;
}