@import '_variables.scss';
@import '_typography.scss';

body {
	background: $cream;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.content {
		text-align: center;
		margin: 0 30px;

		div.avatar {
			margin-bottom: 30px;

			img {
				height: 250px;
				width: auto;
			}
		}

		div.button {
			margin-top: 40px;
		}
	}
}